@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://www.walldevil.com/wallpapers/a68/canon-wallpaper-victorian-builder-xenotime.jpg" alt="Canon" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Find out more information about Canon and their products.
                    <a class="btn btn-default" href="http://global.canon/en/index.html">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://www.wallpapers4u.org/wp-content/uploads/camera_lens_vintage_rarity_nikon_7493_1920x1080.jpg" alt="Nikon" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Nikon official site.
                    <a class="btn btn-default" href="http://www.nikon.com/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>     
        <div class="item">
            <img src="https://best-wallpaper.net/wallpaper/1920x1080/1511/Pentax-camera-lens_1920x1080.jpg" alt="Pentax" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Check out the newest from Pentax.
                    <a class="btn btn-default" href="http://www.pentax.com/en/k-1/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>